@{
  Layout = "_Layout";
}

<div class="container">
  <h5>Account Management</h5>

  @if(User.Identity.IsAuthenticated)
  {
    <p>Welcome, @User.Identity.Name!</p>
    @using (Html.BeginForm("LogOff", "Accounts"))
    {
      <input type="submit" value="Log Off" class="btn btn-primary" />
    }
  }
  else
  {
    <h6>@Html.ActionLink("Log In", "Login")</h6>
    <h6>@Html.ActionLink("Register", "Register")</h6>
  }

</div>