@{
  Layout = "_Layout";
}

@model RecipeBook.Models.Tag;
<div class="sub-header">
  <h5>Add New Tag</h5>
</div>
<hr/>

@using (Html.BeginForm())
{
  @Html.LabelFor(m => m.Title)
  @Html.TextBoxFor(m => m.Title)
  <br/>
  @Html.ValidationMessageFor(m => m.Title, "", new { @class="text-danger"})
  <br/>
  <br/>
  <input type="submit" value="Save" class="btn btn-primary" />
}
